<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976670996361-3cehlver03hs9ad0qds890q247png33u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976670996361-3cehlver03hs9ad0qds890q247png33u</string>
	<key>API_KEY</key>
	<string>AIzaSyARiuKKpAycn7U4XC1LyHkt6NesaP6ALTk</string>
	<key>GCM_SENDER_ID</key>
	<string>976670996361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>QuickBible</string>
	<key>PROJECT_ID</key>
	<string>quick-bible-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-bible-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976670996361:ios:ec6a5edf9cc36c540d1358</string>
	<key>DATABASE_URL</key>
	<string>https://quick-bible-ios.firebaseio.com</string>
</dict>
</plist>